@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700');

body
	{ font-family: "Open Sans"; }

#legend
	{ 
		position: absolute;
		left: 10px;
		top: 10px;
	}
	
#legend h1
	{ font-weight: 700; }

#instructions
	{ font-weight: 300; }